body {
  background-image: url(/img/welcome.jpeg);
}

* {
  font-family: "Cinzel Decorativ", sans-serif;
}

h1 {
  color: #396b69;
  padding: 15%;
  text-shadow: 1px 1px #64b6ac;
}

a {
  list-style: none;
  text-decoration: none;
}
