* {
  font-family: "Playfair display", sans-serif;
}

body {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#2b2832cc), color-stop(45%, #535663cc), color-stop(60%, #454d5b99)), url(/img/cart-pg.jpeg);
  background-image: linear-gradient(bottom left, #2b2832cc 0%, #535663cc 45%, #454d5b99 60%), url(/img/cart-pg.jpeg);
  background-size: cover;
  background-position: center;
  color: #fad4c0;
}

a {
  list-style: none;
  text-decoration: none;
  color: #fad4c0;
  text-shadow: 2px 2px black;
}

a:hover {
  color: #dc9a77;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  font-size: 15px;
}

h2 {
  color: #64b6ac;
  text-align: center;
  font-family: Cinzel Decorative;
}

@media all and (min-device-width: 0px) {
  .shop-item-title {
    margin-bottom: 5%;
  }
  .shop-item-price {
    margin-top: 10%;
    color: #64b6ac;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 2px 2px black;
  }
  .shop-item {
    margin: 5% 2%;
    border-radius: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .shop-item-image {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .shop-item-image:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .btn {
    text-align: center;
    vertical-align: middle;
    padding: 7px 7px;
    margin: 0 10%;
    outline: none;
  }
  .btn-primary {
    background-color: #64b6ac;
    color: #fad4c0;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 2px #13332f4f;
            box-shadow: 2px 2px 2px 2px #13332f4f;
    font-weight: bold;
  }
  .btn-primary:hover {
    background-color: #396b69;
  }
  .btn-danger {
    color: white;
    background-color: #812a1a;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 2px 2px #13332f4f;
            box-shadow: 2px 2px 2px 2px #13332f4f;
  }
  .btn-danger:hover {
    background-color: #dc9a77;
    color: black;
  }
  .cart-quantity-input {
    height: 20px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid #396b69;
    background-color: #eeeeee;
    color: #333333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  .cart-row:last-child .cart-column {
    border: none;
  }
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  .cart-total-title {
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
  }
  .cart-total-price {
    font-size: 20px;
  }
  .btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 30px;
  }
  .cart-header {
    padding: 20px;
  }
  .cart-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid black;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    margin-bottom: 10%;
  }
  .cart-quantity-input,
  .btn-danger {
    margin: 0;
  }
  .btn-danger {
    margin-bottom: 6%;
  }
}

@media all and (min-device-width: 768px) {
  .shop-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    margin: 5%;
    grid-gap: 20px;
  }
  .cart-item {
    width: 40%;
  }
  .cart-quantity {
    width: 30%;
  }
  .cart-quantity-input {
    height: 20px;
    width: 30px;
  }
  .caart {
    padding: 0 25%;
  }
}

@media all and (min-device-width: 1080px) {
  .shop-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    margin: 5%;
    grid-gap: 2%;
  }
  body {
    font-size: x-large;
  }
  .shop-item-image {
    height: 200px;
    width: 300px;
    border-radius: 5px;
  }
  .btn {
    padding: 20px 30px;
    font-size: x-large;
    margin-top: 20px;
  }
  .btn-purchase {
    padding: 30px 60px;
    font-size: larger;
    -webkit-box-shadow: #00000069 5px 10px 10px 5px;
            box-shadow: #00000069 5px 10px 10px 5px;
  }
  .cart-total-title,
  .cart-total-price {
    font-size: 70px;
  }
  h2 {
    font-size: 80px;
    text-shadow: 2px 2px black;
  }
  .cart-quantity-input {
    height: 60px;
    width: 70px;
  }
  .btn-danger {
    margin-bottom: 10%;
  }
  .shop-item-price {
    margin-top: 10%;
  }
  ul {
    font-size: 20px;
  }
  .shop-item-price {
    font-size: xx-large;
  }
}
/*# sourceMappingURL=cart.css.map */