* {
  font-family: "Playfair display", sans-serif;
}

$red: #812a1a;
$Silver-Pink: #b09e99;
$Misty-Rose: #fee9e1;
$Uncleached-Silk: #fad4c0;
$Uncleached-Silk-Darker: #dc9a77;
$Green-Sheen: #64b6ac;
$Celeste: #c0fdfb;
$Dark-Grey: #484747;
$Green-Sky: #396b69;
$blurred: linear-gradient(
  bottom left,
  #564f64d7 0%,
  #71737ed8 45%,
  #5c626dcc 60%
);
$blurred2: linear-gradient(
  bottom left,
  #2b2832c2 0%,
  #535663c5 45%,
  #454d5ba6 60%
);

body {
  margin: 0;
  padding: 0;
  background-image: $blurred;
}
a {
  margin-top: 10px;
  text-decoration: none;
  border-radius: 20px;
  border: $Uncleached-Silk;
  box-shadow: 2px 2px 2px 2px #fad4c06b;
  background-size: 100%;
  font-size: 1vw;
  padding: 5px 10px;
  color: $Uncleached-Silk;
  text-shadow: 1px 1px black;
}

a:hover,
a:active {
  background-color: $Uncleached-Silk;
  transition: 0.2s;
  color: $Green-Sky;
}

@mixin bck_cov {
  background-size: cover;
  background-position: center;
}

@mixin bullet {
  margin: 10% 35%;
  border: $Green-Sky solid;
  color: $Uncleached-Silk;
  border-radius: 5px;
  background-color: $Green-Sky;
  position: relative;
  box-shadow: #00000069 5px 10px 10px 5px;
}

@media all and (min-width: 0*320px) {
  body {
    @include bck_cov;
    background-image: $blurred, url(/img/treatments2.jpeg);
  }

  header {
    height: 170px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h1,
  h2,
  h3 {
    color: $Uncleached-Silk;
    font-size: 10px;
    margin-top: 0;
    text-shadow: 2px 2px black;
    font-family: Cinzel Decorative;
    margin-bottom: 15px;
  }

  h2,
  h3 {
    margin-left: 10%;
    margin-right: 8%;
  }

  h3 {
    color: $Green-Sheen;
    text-shadow: 2px 2px black;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .item1 {
    background-image: $blurred2, url(/img/papaya.jpeg);
  }
  .item2 {
    background-image: $blurred2, url(/img/massage.jpeg);
  }
  .item3 {
    background-image: $blurred2, url(/img/back-pain.jpeg);
  }
  .item4 {
    background-image: $blurred2, url(/img/honey.jpg);
  }
  .item5 {
    background-image: $blurred2, url(/img/coffee.jpg);
  }
  .item6 {
    background-image: $blurred2, url(/img/hammam.jpeg);
  }
  .item7 {
    background-image: $blurred2, url(/img/chocolate.jpg);
  }
  .item8 {
    background-image: $blurred2, url(/img/scrub.jpg);
  }

  .shop-item {
    @include bck_cov();
    color: $Uncleached-Silk;
    text-shadow: 1px 1px black;
    text-align: center;
    height: 250px;
    width: 250px;
    margin: 10px 0;
    font-size: 12px;
    transition: transform 0.5s ease;
    border-radius: 5px;
    background-color: $blurred;
  }

  .shop-item:hover {
    transform: scale(1.2);
    background-image: none;
  }

  p {
    margin-top: 0;
  }

  .minutes {
    @include bullet();
    margin-top: 10px;
  }

  .item-price {
    @include bullet();
    bottom: 10px;
  }
  .treatments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 768px) {
  body {
    background-image: $blurred, url(/img/treatments2.jpeg);
  }
  header {
    height: 250px;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 10px;
    font-size: larger;
  }

  h2,
  h3 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .minutes {
    top: 0;
    margin: 5% 35%;
  }

  .item-price {
    bottom: 0;
    margin: 5% 35%;
  }

  .treatments {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 5%;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-items: center;
  }

  .shop-item {
    place-self: center;
    border-radius: 5px;
  }
}

@media all and (min-width: 1080px) and (max-width: 5000px) {
  header {
    // background-image: $blurred, url(/img/treatments-up.jpeg);
    height: 300px;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 30px;
    font-size: x-large;
  }

  .treatments {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 2%;
    margin: 0 5%;
  }

  .description {
    font-size: x-large;
  }

  .shop-item {
    margin: 15% 10%;
    border-radius: 2%;
    box-shadow: #00000069 5px 10px 10px 5px;
    height: 450px;
    width: 450px;
    font-size: 18px;
  }
}
