* {
  font-family: "Playfair display", sans-serif;
}

$redo: #e9432dab;

$blurred: linear-gradient(
  bottom left,
  #2b2832cc 0%,
  #535663cc 45%,
  #454d5b99 60%
);
$Silver-Pink: #b09e99;
$Misty-Rose: #fee9e1;
$Uncleached-Silk: #fad4c0;
$Uncleached-Silk-Darker: #dc9a77;
$Green-Sheen: #64b6ac;
$Celeste: #c0fdfb;
$Dark-Grey: #484747;
$Green-Sky: #396b69;

@mixin bck_cov {
  background-size: cover;
  background-position: center;
}

body {
  background-image: $blurred, url(/img/login.jpeg);
  @include bck_cov();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faulty {
  color: $Dark-Grey;
  background-color: $redo;
  font-weight: bold;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  border: solid 2px $redo;
  display: none;
}

h1 {
  color: $Green-Sheen;
  text-shadow: 1px 1px black;
}
a {
  text-decoration: none;
  color: $Uncleached-Silk;
}

a:hover {
  color: $Green-Sky;
}

#home {
  margin-top: 10px;

  border-radius: 20px;
  border: $Uncleached-Silk;
  box-shadow: 2px 2px 2px 2px #fad4c06b;
  background-size: 100%;
  font-size: 1vw;
  padding: 5px 10px;

  text-shadow: 1px 1px black;
}

#home:hover,
#home:active {
  background-color: $Uncleached-Silk;
  transition: 0.2s;
  color: $Green-Sky;
}

.box {
  width: 100%;
  background-color: $Green-Sheen;
  border: $Green-Sheen solid 1px;
  height: 30px;
}

.register {
  background-color: transparent;
  border: none;
}

@media all and (min-device-width: 0*320px) {
  .form {
    color: $Uncleached-Silk;
    text-shadow: 1px 1px black;
    text-align: center;
  }
  .register {
    color: $Uncleached-Silk;
  }

  .register:hover {
    color: $Dark-Grey;
  }

  #home {
    position: absolute;
    top: 2%;
    align-self: center;
  }

  #btn {
    background-color: $Green-Sheen;
    color: $Uncleached-Silk;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: 2px 2px 2px 2px #13332f4f;
    font-weight: bold;
    transition: transform 0.5s ease;
  }

  #btn:hover {
    transform: scale(1.3);
  }
}

@media all and (min-device-width: 768px) {
  body {
    font-size: larger;
  }

  #btn {
    font-size: 25px;
  }
}

@media all and (min-width: 1080px) {
  .form {
    margin-left: 40%;
    margin-bottom: 8%;
  }

  body {
    font-size: x-large;
    display: flex;
  }
}
