html {
  background-color: #000000;
  width: 100%;
}

* {
  font-family: "Playfair display", sans-serif;
}

$Silver-Pink: #b09e99;
$Misty-Rose: #fee9e1;
$Uncleached-Silk: #fad4c0;
$Uncleached-Silk-Darker: #dc9a77;
$Green-Sheen: #64b6ac;
$Celeste: #c0fdfb;
$Dark-Grey: #484747;
$Green-Sky: #396b69;
$transparent: #ffffff00;
$fb: rgb(71, 104, 173);
$tw: rgb(71, 161, 235);
$ig: rgb(208, 81, 123);
$blurred: linear-gradient(
  bottom left,
  #2b2832cc 0%,
  #535663cc 45%,
  #454d5b99 60%
);

@mixin bck_cov {
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  border-radius: 20px;
  border: $Uncleached-Silk;
  box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.42);
  background-size: 100%;
  font-size: 3vw;
  color: $Uncleached-Silk;
}

.tab:hover,
.tab:active {
  background-color: $Uncleached-Silk;
  transition: 0.2s;
  color: $Dark-Grey;
}
.logo {
  display: grid;
  justify-content: center;
}

.logoPNG {
  justify-self: center;
}

h1 {
  font-family: "Cinzel Decorative";
  font-weight: lighter;
}

p {
  color: $Uncleached-Silk;
}

footer {
  background-color: $Green-Sky;
}

.salon {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 10px;
}

.fb {
  color: $fb;
}

.tw {
  color: $tw;
}

.ig {
  color: $ig;
}

// Phone Display

@media all and (min-device-width: 0*320px) {
  h1 {
    font-size: 20px;
    padding: 10% 0;
  }

  .middle_1 {
    background-image: $blurred, url(/img/front-pg2.jpeg);
    @include bck_cov();
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .descr {
    transition: transform 0.5s ease;
  }

  .descr:hover {
    transform: scale(1.1);
  }

  .middle_2 {
    background-image: $blurred, url(/img/front-pg1.jpeg);
    @include bck_cov();
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: outset rgb(250, 212, 192) 7px;
  }

  .sch {
    color: $Uncleached-Silk;
    text-align: center;
    transition: transform 0.5s ease;
  }

  .sch:hover {
    transform: scale(1.2);
  }
  #sh {
    font-size: 2vw;
  }

  .tab {
    font-size: 1vw;
    padding: 5px 15px;
    margin-top: 10px;
  }

  body {
    margin: 0;
    padding: 0;
  }
  header {
    background-image: url(/img/moon-ph.jpeg);
    @include bck_cov();
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: outset rgb(250, 212, 192) 7px;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
  }

  .slide {
    width: 80vw;
    height: 50vw;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.31);
    transition: transform 0.5s ease;
  }

  #img_pres {
    align-self: center;
  }

  .middle_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: outset rgb(250, 212, 192) 7px;
  }

  .descr {
    text-align: center;
  }

  #map {
    height: 100%;
    width: 80%;
    align-self: center;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.31);
  }

  .map {
    margin-left: 15%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .social {
    margin-left: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .sm {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
  }

  .soc {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

// Tablet Display

@media all and (min-device-width: 768px) {
  h1 {
    padding-bottom: 10%;
    padding-top: 0;
    font-size: xx-large;
  }
  header {
    background-image: url(/img/moon.jpeg);
    height: 300px;
  }

  #sh {
    font-size: 1vw;
  }

  .tab {
    padding: 10px 20px;
    font-size: 10px;
  }

  .tabs {
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 10vw);
    grid-gap: 20px;
    padding: 0;
  }

  .middle_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .slide {
    width: 40vw;
    height: 25vw;
    margin: 0 10px;
  }
  .descr {
    margin: 25% 5%;

    font-size: 25px;
  }

  .middle_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
  }

  .sch {
    font-size: 25px;
  }

  .map {
    height: 170px;
    align-self: center;
    width: 70%;
    margin: 0;
    padding-left: 15%;
  }
}

//Desktop Display

@media all and (min-width: 1080px) {
  header {
    height: 300px;
  }

  .tab {
    font-size: 1vw;
  }

  h1 {
    padding-top: 20%;
    font-size: 40px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .middle_1 {
    height: 700px;
  }
  .middle_2 {
    height: 900px;
  }

  .slide {
    width: 30vw;
    height: 20vw;
    margin-left: 40%;
  }

  .descr {
    font-size: xx-large;
    margin: 17% 5% 20% 30%;
  }

  .map {
    height: 300px;
    width: 80%;
  }

  .sch {
    border-radius: 10%;
    text-align: center;
    width: 20vw;
    font-size: 1.5vw;
    margin-left: 40%;
  }

  .salon {
    font-size: 20px;
  }
}
