html {
  background-color: #000000;
  width: 100%;
}

* {
  font-family: "Playfair display", sans-serif;
}

a {
  text-decoration: none;
  border-radius: 20px;
  border: #fad4c0;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.42);
          box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.42);
  background-size: 100%;
  font-size: 3vw;
  color: #fad4c0;
}

.tab:hover,
.tab:active {
  background-color: #fad4c0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #484747;
}

.logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logoPNG {
  -ms-grid-column-align: center;
      justify-self: center;
}

h1 {
  font-family: "Cinzel Decorative";
  font-weight: lighter;
}

p {
  color: #fad4c0;
}

footer {
  background-color: #396b69;
}

.salon {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 10px;
}

.fb {
  color: #4768ad;
}

.tw {
  color: #47a1eb;
}

.ig {
  color: #d0517b;
}

@media all and (min-device-width: 0px) {
  h1 {
    font-size: 20px;
    padding: 10% 0;
  }
  .middle_1 {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#2b2832cc), color-stop(45%, #535663cc), color-stop(60%, #454d5b99)), url(/img/front-pg2.jpeg);
    background-image: linear-gradient(bottom left, #2b2832cc 0%, #535663cc 45%, #454d5b99 60%), url(/img/front-pg2.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .descr {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .descr:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .middle_2 {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#2b2832cc), color-stop(45%, #535663cc), color-stop(60%, #454d5b99)), url(/img/front-pg1.jpeg);
    background-image: linear-gradient(bottom left, #2b2832cc 0%, #535663cc 45%, #454d5b99 60%), url(/img/front-pg1.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-bottom: outset #fad4c0 7px;
  }
  .sch {
    color: #fad4c0;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .sch:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #sh {
    font-size: 2vw;
  }
  .tab {
    font-size: 1vw;
    padding: 5px 15px;
    margin-top: 10px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  header {
    background-image: url(/img/moon-ph.jpeg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: outset #fad4c0 7px;
  }
  .tabs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: (5vw)[3];
        grid-template-rows: repeat(3, 5vw);
    grid-gap: 30px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    padding-right: 20px;
  }
  .slide {
    width: 80vw;
    height: 50vw;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.31);
            box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.31);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  #img_pres {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .middle_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: outset #fad4c0 7px;
  }
  .descr {
    text-align: center;
  }
  #map {
    height: 100%;
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 7px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.31);
            box-shadow: 2px 2px 2px 2px rgba(250, 212, 192, 0.31);
  }
  .map {
    margin-left: 15%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social {
    margin-left: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 2%;
  }
  .soc {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media all and (min-device-width: 768px) {
  h1 {
    padding-bottom: 10%;
    padding-top: 0;
    font-size: xx-large;
  }
  header {
    background-image: url(/img/moon.jpeg);
    height: 300px;
  }
  #sh {
    font-size: 1vw;
  }
  .tab {
    padding: 10px 20px;
    font-size: 10px;
  }
  .tabs {
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -ms-grid-rows: (10vw)[2];
        grid-template-rows: repeat(2, 10vw);
    grid-gap: 20px;
    padding: 0;
  }
  .middle_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slide {
    width: 40vw;
    height: 25vw;
    margin: 0 10px;
  }
  .descr {
    margin: 25% 5%;
    font-size: 25px;
  }
  .middle_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 700px;
  }
  .sch {
    font-size: 25px;
  }
  .map {
    height: 170px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
    margin: 0;
    padding-left: 15%;
  }
}

@media all and (min-width: 1080px) {
  header {
    height: 300px;
  }
  .tab {
    font-size: 1vw;
  }
  h1 {
    padding-top: 20%;
    font-size: 40px;
  }
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .middle_1 {
    height: 700px;
  }
  .middle_2 {
    height: 900px;
  }
  .slide {
    width: 30vw;
    height: 20vw;
    margin-left: 40%;
  }
  .descr {
    font-size: xx-large;
    margin: 17% 5% 20% 30%;
  }
  .map {
    height: 300px;
    width: 80%;
  }
  .sch {
    border-radius: 10%;
    text-align: center;
    width: 20vw;
    font-size: 1.5vw;
    margin-left: 40%;
  }
  .salon {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */